{% extends "base.html" %}
{% block title %}Home{% endblock%}
{% block content %}
<br />
<h1 align="center"><strong>Secret Notes</strong> </h1>
<p><img src="https://media.tenor.com/fYL-jAts_1EAAAAi/cat-computer.gif" alt="Cat typing on computer" style="float:none;width:80px;height:80px;">
    Now you can look like this little one. <br>
    <small> Tip: Don't worry about misspelling, you can edit your text anytime.</small>🧐
</p>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
        <li class="list-group-item float-right">
            <div class = "float-left">
               <p id={{ note.id }}  role="textbox" style="margin-top: 5px; padding: 10px; border-radius: 5px;"
                  contentEditable="false"> {{ note.data }} </p>
            </div>
            <div class="float-right">
                <button class="btn btn-success btn-sm rounded-0" type="button" data-container="body" data-toggle="popover"
                        data-placement="bottom" title="Edit & Save"
                        data-content="One click to edit the note and a second click to have it saved.🤗">
                    <i class="fa fa-edit" onClick="updateNote({{ note.id}})"></i></button>
                <button type="button" class="btn btn-danger btn-sm rounded-0" data-toggle="tooltip" data-placement="right"
                        title="Delete"><i class="fa fa-trash" onClick="deleteNote({{ note.id }})"></i></button>
            </div>
        </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control">
    </textarea>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>

</form>

{% endblock %}
